#canvas {
	margin:auto;
	display: inline-block;
}
#season{
	text-align: center;
	font-size: 36px;
}

#images{
	display: inline-block;	
}

#statistics{
    font-size: 28px;
    float: left;
    display: inline-block;
    text-align: left;
    margin-right: 80px;
}

.container{
    text-align: center;
}